# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Testing / Coverage
coverage/

# OS and Editor files
.DS_Store
.vscode/
!.vscode/extensions.json
.idea/
